<html>
<head>
</head>
<body>
<div class="widget">

  <div class="label">
    Đèn 1
  </div>

  <div class="switch">
    <input id="btn1" class="cmn-toggle cmn-toggle-round" type="checkbox" ng-model="btnval1" ng-click="processControl($event, btnval1)" accesskey="1">
    <label for="btn1"></label>
  </div>

</div>


<div class="widget">
  <div class="label">
    Đèn 2
  </div>
  <div class="switch">
    <input id="btn2" class="cmn-toggle cmn-toggle-round" type="checkbox" ng-model="btnval2" ng-click="processControl($event, btnval2)" accesskey="2">
    <label for="btn2"></label>
  </div>
</div>

<div class="widget">
  <div class="label">
    Đèn 3
  </div>
  <div class="switch">
    <input id="btn3" class="cmn-toggle cmn-toggle-round" type="checkbox" ng-model="btnval3" ng-click="processControl($event, btnval3)" accesskey="3">
    <label for="btn3"></label>
  </div>
</div>

<div class="widget">
  <div class="label">
    Đèn 4
  </div>
  <div class="switch">
    <input id="btn4" class="cmn-toggle cmn-toggle-round" type="checkbox" ng-model="btnval4" ng-click="processControl($event, btnval4)" accesskey="4">
    <label for="btn4"></label>
  </div>
</div>

<div class="widget">
  <div class="label">
    Temp
    <br><br>
    45&#8451;
  </div>
</div>

<div class="widget">
  <div class="label">
    Temp
    <br><br>
    45&#8451;
  </div>
</div>

<div class="widget">
  <div class="label">
    Temp
    <br><br>
    45&#8451;
  </div>
</div>

<div class="widget">
  <div class="label">
    Temp
    <br><br>
    45&#8451;
  </div>
</div>

<div class="widget">
  <div class="label">
    Temp
    <br><br>
    45&#8451;
  </div>
</div>

<div class="widget">
  <div class="label">
    Temp
    <br><br>
    45&#8451;
  </div>
</div>
</body>
</html>
